<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <script src="angular.min.js"></script>
  <script src="app.js"></script>
  <title>Lunch Checker</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="styles/bootstrap.min.css">
  <style>
    .message {
      font-size: 1.3em;
      font-weight: bold;
      padding: 1em;
    }
    .message.message--ok {
        border: 2px solid green;
        color: green;
      }
      .message.message--error {
        border: 2px solid red;
        color: red;
      }
  </style>
</head>

<body ng-app="Module1Solution">
  <div class="container" ng-controller="LunchCheckController">
    <h1>Lunch Checker</h1>

    <div class="form-group">
      <input id="lunch-menu" type="text" ng-model="dishes"
        placeholder="list comma separated dishes you usually have for lunch" class="form-control">
        <p class="small">Enter at most three dishes separated by comma. An empty item, i.e., `, ,` is not considered towards to the count</p>
    </div>
    <div class="form-group">
      <button class="btn btn-default" ng-click="checkDishes()">Check If Too Much</button>
    </div>
    <div class="message" ng-class="{'message--error': result === 'none' || result === 'overflow', 'message--ok': result === 'ok'}">
      <span ng-if="result === 'none'">Please enter data first</span>
      <span ng-if="result === 'ok'">Enjoy!</span>
      <span ng-if="result === 'overflow'">Too much!</span>
    </div>
  </div>

</body>

</html>